<div class="row">
    <aside class="col-lg-3">
        <div class="panel panel-primary" id="nutritionPanel" ng-init="makeSticky('#nutritionPanel')">
            <div class="panel-heading">
                <h2 class="panel-title component-panel-title">
                    {{formResult.name || "New Feed Component" | truncate: 25: '&hellip;' | ucfirst}}
                    <span class="pull-right label label-success" ng-if="formResult.gmoFree">GMO Free</span>
                </h2>
            </div>
            <div class="panel-body" ng-if="formResult.description">
                <p ng-if="formResult.description">{{formResult.description}}</p>
            </div>
            <table class="table table-condensed table-hover table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Nutrition</th>
                        <th>Qty. (%&nbsp;DM)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, data) in formResult.nutrients | toArray">
                        <td>{{::data.name | ucfirst}}</td>
                        <td>{{data.value | precision: 3}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </aside>
    <section class="col-lg-9">
        <form role="form" ng-submit="submit()">
            <div class="panel-group" id="formAccordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading panel-link" role="tab" data-toggle="collapse" data-parent="#formAccordion" data-target="#componentMeta">
                        1. About This Component<span class="pull-right"><span class="label label-warning" ng-if="!formResult.name">Incomplete</span> <span class="label label-danger">Required</span></span>
                    </div>
                    <div id="componentMeta" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="mixtureName" class="control-label">Feed Component Name</label>
                                <input id="mixtureName" ng-disabled="isEdit" class="form-control" type="text" ng-model="formResult.name" required />
                                <span class="help-block">You <b>have</b> to fill this in. This shows up in the list of feed components, so keep it short but descriptive.</span>
                            </div>

                            <div class="form-group">
                                <label for="mixtureName" class="control-label">Supplier</label>
                                <input id="mixtureName" class="form-control" type="text" ng-model="formResult.supplier" />
                                <span class="help-block">You can leave this blank. "Corn" can come from many different farms&mdash;specify a supplier so you don't get confused.</span>
                            </div>

                            <div class="form-group">
                                <label for="mixtureDescription" class="control-label">Description</label>
                                <textarea id="mixtureDescription" class="form-control" ng-model="formResult.description" rows="5"></textarea>
                                <span class="help-block">You can leave this blank. Put any comments or additional information about this component here.</span>
                            </div>

                            <div class="form-group" ng-init="initRadio()">
                                <label class="control-label">Is this component GMO free?</label>
                                <label class="radio">
                                    <input type="radio" ng-model="formResult.gmoFree" data-toggle="radio" name="gmoSelector" id="gmoYes" ng-value="true">Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" ng-model="formResult.gmoFree" data-toggle="radio" name="gmoSelector" id="gmoNo" ng-value="false" checked>No
                                </label>
                            </div>

                            <div class="form-group" ng-init="initRadio()" ng-if="isPrivilegedUser()">
                                <label class="control-label">Can anyone else see this component?</label>
                                <label class="radio">
                                    <input type="radio" ng-model="formResult.isPrivate" data-toggle="radio" name="privacySelector" id="publicRadio" ng-value="false"><b>Public: </b> Everyone can see this, but only you can make changes.
                                </label>
                                <label class="radio">
                                    <input type="radio" ng-model="formResult.isPrivate" data-toggle="radio" name="privacySelector" id="privateRadio" ng-value="true" checked><b>Private: </b> Only you can see this, and only you can make changes.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-link" role="tab" data-toggle="collapse" data-parent="#formAccordion" data-target="#nutritionElements">
                        2. Nutrition Data<span class="label label-danger pull-right">Required</span>
                    </div>
                    <div id="nutritionElements" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            Fill in the table below with information about the nutrition that this feed component provides. Make sure that you're using the correct units. If you're not sure about a certain entry, or if it's not applicable, leave it at 0.
                        </div>
                        <table class="table table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Nutrition</th>
                                    <th>Qty. (%&nbsp;DM)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in ::formResult.nutrients |toArray">
                                    <td>{{::data.name | ucfirst}}</td>
                                    <td>
                                        <input class="form-control col-lg-3" ng-model="data.value" type="number" min="0" step="0.01" value="0" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <span class="help-block" ng-if="!formResult.name">You have to provide a component name before saving this feed.</span>
                <button type="submit" class="btn btn-primary btn-large" ng-disabled="!formResult.name" data-loading-text="Creating Feed Component&hellip;">
                    <span class="fui-check"></span>&nbsp;Save Feed Component
                </button>
                <button type="reset" class="btn btn-danger btn-large pull-right" ui-sref="component-list">
                    <span class="fui-cross"></span>&nbsp;Cancel
                </button>
            </div>
        </form>
    </section>
</div>
