<nav class="pagination">
    <ul ng-if="1 < pages.length">
        <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
            <a href="" ng-click="setCurrent(1)">&laquo;</a>
        </li>
        <li ng-if="directionLinks" class="previous" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
            <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding fui-arrow-left" ng-if="pagination.current > 1"></a>
            <span class="ng-binding fui-arrow-left" ng-if="pagination.current == 1"></span>
        </li>
        <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" style="margin-right: 0;">
            <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
        </li>
        <li ng-if="directionLinks" class="next" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope">
            <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding fui-arrow-right" ng-if="pagination.current != pagination.last"></a>
            <span class="ng-binding fui-arrow-right" ng-if="pagination.current == pagination.last"></span>
        </li>
        <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }">
            <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
        </li>
    </ul>
</nav>
