<div class="row">
    <aside class="col-lg-3">
        <div class="panel panel-primary" id="nutritionPanel" ng-init="makeSticky()">
            <div class="panel-heading">
                <h2 class="panel-title" style="font-size: 16px">
                    {{formResult.name || "New Feed Component" | truncate: 30: '...' | ucfirst}}
                </h2>
            </div>
            <div class="panel-body" ng-if="formResult.description">
                <p ng-if="formResult.description">{{formResult.description}}</p>
            </div>
            <table class="table table-condensed table-hover table-striped table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nutrition</th>
                        <th>Qty (% DM)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, data) in formResult.nutrients">
                        <td>{{$index+1}}</td>
                        <td>{{data.name | ucfirst}}</td>
                        <td>{{data.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </aside>
    <section class="col-lg-9">
        <form role="form" ng-submit="submit()">
            <div class="panel-group" id="formAccordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a href data-toggle="collapse" data-parent="#formAccordion" data-target="#componentMeta" style="color: #fff">1. About This Component<span class="label label-danger pull-right">Required</span></a>
                    </div>
                    <div id="componentMeta" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="mixtureName" class="control-label">Feed Component Name</label>
                                <input id="mixtureName" ng-disabled="isEdit" class="form-control" type="text" ng-model="formResult.name" required />
                                <span class="help-block">You <b>have</b> to fill this in. This shows up in the list of feed components, so keep it short but descriptive.</span>
                            </div>
                            <div class="form-group">
                                <label for="mixtureName" class="control-label">Supplier</label>
                                <input id="mixtureName" class="form-control" type="text" ng-model="formResult.supplier" />
                                <span class="help-block">You can leave this blank. "Corn" can come from many different farms&mdash;specify a supplier so you don't get confused.</span>
                            </div>
                            <div class="form-group">
                                <label for="mixtureDescription" class="control-label">Description</label>
                                <textarea id="mixtureDescription" class="form-control" ng-model="formResult.description" rows="5"></textarea>
                                <span class="help-block">You can leave this blank. Put any comments or additional information about this component here.</span>
                            </div>
                            <div class="form-group" ng-init="initCheckbox()">
                                <label class="control-label">Is this component GMO free?</label>
                                <label class="radio" ng-init="formResult.private = 'false'">
                                    <input type="radio" ng-model="formResult.private" data-toggle="radio" name="gmoSelector" id="gmoYes" value="true" checked="">Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" ng-model="formResult.private" data-toggle="radio" name="gmoSelector" id="gmoNo" value="false">No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <a href data-toggle="collapse" data-parent="#formAccordion" data-target="#nutritionElements" style="color: #fff">2. Nutrition Data<span class="label label-danger pull-right">Required</span></a>
                    </div>
                    <div id="nutritionElements" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            Fill in the table below with information about the nutrition that this feed component provides. Make sure that you're using the correct units. If you're not sure about a certain entry, or if it's not applicable, leave it at 0.
                        </div>
                        <table class="table table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Nutrition</th>
                                    <th>Quantity (% DM)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in formResult.nutrients">
                                    <td>{{data.name | ucfirst}}</td>
                                    <td>
                                        <input class="form-control col-lg-3" ng-model="data.value" type="number" min="0" step="0.01" value="0" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-large" ng-disabled="!formResult.name">
                    <span class="fui-check"></span>&nbsp;Save Feed Component
                </button>
                <button type="reset" class="btn btn-danger btn-large pull-right" ui-sref="component-list">
                    <span class="fui-cross"></span>&nbsp;Cancel
                </button>
            </div>
        </form>
    </section>
</div>
