<div class="row">
    <aside class="col-lg-3">
        <form role="form">
            <div class="form-group">
                <div class="input-group">
                    <input type="search" class="form-control" ng-model="search" placeholder="Search Feed Components" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn">
                            <span class="fui-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <hr>
            <p class="lead">Hide/Show Details</p>
            <label class="checkbox" for="descCheckbox">
                <input type="checkbox" id="descCheckbox" data-toggle="checkbox" ng-model="descriptionChecked" ng-init="descriptionChecked=false" checked>Description
            </label>
            <label class="checkbox" for="nutrientsCheckbox">
                <input type="checkbox" id="nutrientsCheckbox" data-toggle="checkbox" ng-model="nutrientsChecked" ng-init="nutrientsChecked=true">Nutrients
            </label>
            <label class="checkbox" for="supplierCheckbox">
                <input type="checkbox" id="supplierCheckbox" data-toggle="checkbox" ng-model="supplierChecked" ng-init="supplierChecked=false" checked>Supplier
            </label>
            <label class="checkbox" for="gmoCheckbox">
                <input type="checkbox" id="gmoCheckbox" data-toggle="checkbox" ng-model="gmoChecked" ng-init="gmoChecked=true" checked>GMO Status
            </label>
            <!--             <label class="checkbox" for="chartCheckbox">
                <input type="checkbox" id="chartCheckbox" data-toggle="checkbox" ng-model="chartChecked" ng-init="chartChecked=true" checked>Breakdown Chart
            </label> -->
            <hr>
            <button class="btn btn-primary btn-block" ui-sref="component-new">
                <span class="fui-plus"></span>Create New Feed Component</button>
        </form>
    </aside>
    <div class="col-lg-9">
        <div class="row">
            <section class="col-lg-4" dir-paginate="comp in compData | toArray | filter: { $: search } | itemsPerPage: 12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title" style="font-size: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                            {{comp.name | ucfirst}}
                            <span class="pull-right label label-success" ng-if="gmoChecked">{{comp.gmoFree ? "GMO Free" : ""}}</span>
                        </h2>
                    </div>
                    <div class="panel-body" ng-if="comp.supplier || comp.description">
                        <p ng-if="supplierChecked && comp.supplier">Supplier: {{comp.supplier}}</p>
                        <p ng-if="descriptionChecked">{{comp.description}}</p>
                    </div>
                    <table class="table table-condensed table-striped table-hover table-responsive" ng-if="nutrientsChecked" style="max-height: 150px; overflow-y: scroll;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nutrient</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(nutrientName, data) in comp.nutrients">
                                <td>{{$index+1}}</td>
                                <td>{{data.name | ucfirst}}</td>
                                <td>{{data.value}}{{data.unit}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <button class="btn btn-warning btn-sm" ui-sref="component-edit({ compId: comp._id})">
                            <span class="fui-new"></span>&nbsp;Edit
                        </button>
                        <span class="pull-right">
                            <button class="btn btn-danger btn-sm" ng-click="deleteComp(comp._id)">
                                <span class="fui-trash"></span>&nbsp;Delete
                            </button>
                        </span>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="false" template-url="./app/common/pagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>
