<div class="row">
    <aside class="col-md-4 col-lg-3">
        <form role="form">
            <div class="form-group" ng-show="feedCount >= 2">
                <div class="input-group">
                    <input type="search" class="form-control" ng-model="search" placeholder="Search {{feedCount}} Feeds" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn">
                            <span class="fui-search"></span>
                    </button>
                    </span>
                </div>
                <hr>
            </div>
            <p class="lead">Hide/Show Details</p>
            <label class="checkbox" for="descCheckbox">
                <input type="checkbox" id="descCheckbox" data-toggle="checkbox" ng-model="descriptionChecked" ng-init="descriptionChecked=true" ng-disabled="feedCount === 0">Description
            </label>
            <label class="checkbox" for="compCheckbox">
                <input type="checkbox" id="compCheckbox" data-toggle="checkbox" ng-model="compsChecked" ng-init="compsChecked=true" ng-disabled="feedCount === 0">Feed Components
            </label>
            <hr>
            <button class="btn btn-primary btn-block" ui-sref="feed-new">
                <span class="fui-plus"></span>&nbsp;Create New Feed Mixture</button>
        </form>
    </aside>
    <div class="col-lg-9">
        <div class="row">
            <div ng-if="feedCount === 0" class="text-center">
                <img src="app/assets/pig.svg" width="100vw" style="margin: 50px 0">
                <p class="lead">You currently have no feeds in the system.
                    <br/>Feeds you create will show up here. Get mixin'!</p>
            </div>

            <section class="col-lg-4" dir-paginate="feed in feedData | filter: userFilter | filter: {$: search} | orderBy: 'name' | itemsPerPage: 12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-link" ui-sref="feed-view({ feedId: feed._id})">
                        <h2 class="panel-title component-panel-title">
                            {{::feed.name | ucfirst}}
                            <span class="pull-right" am-time-ago="feed.creationDate"></span>
                        </h2>
                    </div>
                    <div class="panel-body panel-link" ng-if="descriptionChecked && feed.description" ui-sref="feed-view({ feedId: feed._id })">
                        <span>{{::feed.description}}</span>
                    </div>
                    <table class="table table-condensed table-hover table-responsive table-striped panel-link" ng-if="compsChecked" ui-sref="feed-view({ feedId: feed._id })">
                        <thead>
                            <tr>
                                <th>Component</th>
                                <th>Qty.&nbsp;(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{ success: component.name.toLowerCase().contains(search.toLowerCase()) && search !== '' }" ng-repeat="component in ::feed.compData track by component.name | orderBy: '-value'">
                                <td>{{::component.name | ucfirst}}</td>
                                <td>{{::component.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <button class="btn btn-warning btn-sm" ui-sref="feed-edit({ feedId: feed._id })">
                            <span class="fui-new"></span>&nbsp;Edit
                        </button>
                        <span class="pull-right">
                            <button class="btn btn-danger btn-sm" ng-click="deleteFeed(feed._id)">
                                <span class="fui-trash"></span>&nbsp;Delete
                        </button>
                        </span>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center" ng-if="feedCount >= 2">
            <dir-pagination-controls boundary-links="false" template-url="./app/common/pagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>
