<div class="row">
    <aside class="col-md-4 col-lg-3">
        <form role="form">
            <div class="form-group">
                <div class="input-group">
                    <input type="search" class="form-control" ng-disabled="feedData.length < 2" ng-model="search" placeholder="Search Feeds" />
                    <span class="input-group-btn">
                        <button type="submit" ng-disabled="feedData.length < 2" class="btn">
                            <span class="fui-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <hr>
            <p class="lead">Hide/Show Details</p>
            <label class="checkbox" for="descCheckbox">
                <input type="checkbox" id="descCheckbox" data-toggle="checkbox" ng-model="descriptionChecked" ng-init="descriptionChecked=true" checked ng-disabled="feedData.length == 0">Description
            </label>
            <label class="checkbox" for="ingCheckbox">
                <input type="checkbox" id="ingCheckbox" data-toggle="checkbox" ng-model="ingredientsChecked" ng-init="ingredientsChecked=true" checked ng-disabled="feedData.length == 0">Feed Components
            </label>
            <hr>
            <button class="btn btn-primary btn-block" ui-sref="feed-new">
                <span class="fui-plus"></span>&nbsp;Create New Feed Mixture</button>
        </form>
    </aside>
    <div class="col-lg-9">
        <div class="row">
            <div ng-if="feedData.length == 0" class="text-center">
                <img src="../../src/app/assets/pig.svg" width="100vw" style="margin:50px 0">
                <p class="lead">You currently have no feeds in the system.
                    <br/>Feeds you create will show up here. Get mixin'!</p>
            </div>
            <section class="col-lg-4" dir-paginate="feed in feedData | toArray | filter: { $: search } | itemsPerPage: 12">
                <div class="panel panel-default">
                    <div class="panel-heading" ui-sref="feed-view({ feedId: feed._id})" style="cursor: pointer">
                        <h2 class="panel-title" style="font-size: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                            {{feed.name | truncate: 20: '...' | ucfirst}}
                            <span class="pull-right" am-time-ago="feed.creationDate"></span>
                        </h2>
                    </div>
                    <div class="panel-body" ng-if="descriptionChecked && feed.description"  ui-sref="feed-view({ feedId: feed._id})" style="cursor: pointer">
                        <span>{{feed.description}}</span>
                    </div>
                    <table class="table table-condensed table-hover table-responsive table-striped" ng-if="ingredientsChecked"  ui-sref="feed-view({ feedId: feed._id})" style="cursor: pointer">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Component</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="component in feed.compData | orderBy: '-value'">
                                <td>{{$index+1}}</td>
                                <td>{{component.name}}</td>
                                <td>{{component.value + '%'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <button class="btn btn-warning btn-sm" ui-sref="feed-edit({ feedId: feed._id})">
                            <span class="fui-new"></span>&nbsp;Edit
                        </button>
                        <span class="pull-right">
                            <button class="btn btn-danger btn-sm" ng-click="deleteFeed(feed._id)">
                                <span class="fui-trash"></span>&nbsp;Delete
                            </button>
                        </span>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center">
            <dir-pagination-controls boundary-links="false" template-url="./app/common/pagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>
